#bg_img img {
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    width: 100%;
}
.content-wrapper {
    height: 600px;
    width: 1200px;
    background-color: #000c;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.data-wrapper {
    background: #f8f8f8;
}
thead {
    font-size: 15px;
}
tbody {
    font-size: 13px;
}